name: Deploy Notes API Production

on:
  push:
    branches:
      - main

jobs:
  productionDeployment:
    name: production-deployment
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    environment:
      name: production
      url: https://test.com
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - name: Deploy
      run: npx serverless deploy --stage production
      env:
        SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        CI: true